<nav-bar></nav-bar>

<div id='content'>
  <div class='form-group'>
    <label>Search for recipes here</label>
    <form ng-submit='findRecipes()' name='locInputForm'>
      <input ng-model='inputFood' class='form-control' type='text' placeholder='Search Recipes' required>
      <input type='submit' value='Go!' ng-disabled='!locInputForm.$valid' class='btn btn-default'>
    </form>
  </div>

  <div id='recipeContainer'>
    <ul class='dynamic-grid' angular-grid='recipes' ag-grid-width='300' ag-gutter-size='10' ag-id='gallery' ag-refresh-on-img-load='false'>
      <li data-ng-repeat='recipe in recipes' class='grid'>
        <a href={{recipe.f2f_url}}>{{recipe.title}}</a>
        <img class='grid-img' src={{recipe.image_url}}></img>
        <form name='saveForLater'>
          <input ng-click='saveLater(this)' type='submit' value='Save Recipe' name='saveRecipe' class='btn btn-default btn-xs'></input>
          <span ng-show='saveForLater.$submitted'>Recipe Saved Successfully</span>  
        </form>
      </li>
    </ul>
  </div>
