<nav-bar></nav-bar>

<div id='content'>
  <div class='form-group'>
    <label>Search for recipes here</label>
    <form ng-submit='findRecipes()' name='locInputForm'>
      <input ng-model='inputFood' class='form-control' type='text' placeholder='Search Recipes' required>
      <input type='submit' value='Go!' ng-disabled='!locInputForm.$valid' class='btn btn-default'>
    </form>
  </div>

  <div class='recipe' ng-repeat='recipe in recipes'>
    <p><a href={{recipe.f2f_url}}>{{recipe.title}}</a></p>
    <img src={{recipe.image_url}}></img>
    
    <form name='test'>
      <input ng-click='saveForLater($event, this)' type='submit' value='Save for Later' name='saveRecipe'></input>
    </form>
    <span ng-show='test.$submitted'>Recipe Saved Successfully</span>  
  </div>
</div>