<nav-bar></nav-bar>

<div id='content'>
  <div class='form-group'>
    <label>Add your fridge contents</label>
    <form ng-submit='findIngredient()' name='locInputForm'>
      <input ng-model='inputIngredient' class='form-control' type='text' placeholder='Add Ingredients' required>
      <input type='submit' value='Go!' ng-disabled='!locInputForm.$valid' class='btn btn-default'>
    </form>
  </div>

  <div ng-model='searchedIngredient' ng-show='locInputForm.$submitted'>
    <p>{{searchedIngredient.snippet}}</p>
    <img src={{searchedIngredient.link}}></img>
    <input type='submit' ng-click='addIngredient()' value='Store in Fridge' name='saveIngredient'></input>
  </div>

  
  <div id='fridge'>
    <ul class='dynamic-grid' angular-grid='fridge' ag-grid-width='300' ag-gutter-size='10' ag-id='gallery' ag-refresh-on-img-load='false'>
      <li data-ng-repeat='ingredient in fridge' class='grid'>
        <p>{{ingredient.snippet}}</p>
        <img class='grid-img' src={{ingredient.link}}></img>
        <input type='submit' ng-click='removeIngredient(this)' value='Remove from fridge' name='saveIngredient'></input>
      </li>
    </ul>
  </div>
</div>