<div>
  <a href='#/'>Home</a>
  <a href='#/recipes'>Recipes</a>
  <a href='#/ingredients'>Ingredients</a>

  <form ng-submit='findIngredient()' name='locInputForm'>
    <input ng-model='inputIngredient' class='text' type='text' placeholder='Add Ingredients' required>
    <input type='submit' value='Go!' ng-disabled='!locInputForm.$valid'>
  </form>

  <div ng-model='searchedIngredient' ng-show='locInputForm.$submitted'>
    <p>{{searchedIngredient.snippet}}</p>
    <img src={{searchedIngredient.link}}></img>
    <input type='submit' ng-click='addIngredient()' value='Store in Fridge' name='saveIngredient'></input>
  </div>

  
  <div id='fridge'>
    <h3>KEEP YO FRIDGE STOCKED (^o^)</h3>
    <div ng-repeat='ingredient in fridge'>
      <p>{{ingredient.snippet}}</p>
      <img src={{ingredient.link}}></img>
      <input type='submit' ng-click='removeIngredient(this)' value='Take it Out!' name='saveIngredient'></input>
    </div>
  </div>
</div>